.category
{
    margin: 1em 0;
    margin-bottom: 4em;
}
.category-item{
    background-color: #383838;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    min-width: 70px;
    min-height: 70px;
    color:#fff;
    cursor: pointer;
    text-decoration: none;
    transition: .3s all ease;
}
.category-item:hover{
    background:linear-gradient(to right , #f27121 , #e94057);
    color: #fff;

}
.category-item h6{
    font-size: 12px;
}
.category-item svg{
    color:#fff;
    margin-bottom: 5px;
}